# system
.DS_Store
Thumbs.db

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# environments
.venv/
env/
venv/

# large data
*.npy
*.npz
*.tif
*.tiff
*.nc
*.h5
*.hdf5

# model files
*.keras
*.ckpt
checkpoint/

# temporary outputs
outputs/
reports/
figures_temp/
logs/
tmp/
temp/

# local drive folders
drive/
